$primary-color: #333;
$white: #fff;
$light-white: #f4f4f4;
$grey: #ddd;
$light-grey: #eee;
$hero-red: #e60000;
$link-blue: #337ab7;
$alert-red: #721c24;
$alert-light-red: #f8d7da;

$tablet-width: 760px;
$desktop-width: 960px;
$extra-large-width: 1300px;

$font-stack: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
