@import '../../styles/vars';
@import '../../styles/placeholders';

body {
  margin: 0 auto;
  padding: 0;
  color: $primary-color;
  font-family: $font-stack;
}

.hero-section {
  background: transparent url('../../images/hero-background.jpg') 50% 50% no-repeat;
  background-size: cover;
  height: 30vh;
  padding: 20px 20px;
  .hero-section-heading {
    color: $white;
    font-size: 24px;
    text-align: center;
  }
}

.main-section {
  margin: 20px auto;
}

.progress {
  @extend %spinner;
}

.alert-section {
  margin: 0 auto;
}
.alert-error {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color: $alert-red;
  border-color: $alert-light-red;
  background-color: $alert-light-red;
  .alert-heading {
    margin-bottom: 20px;
    line-height: 1;
  }
}

/* Mobile first responsive */
@media screen and (min-width: $tablet-width){
  .hero-section {
    padding: 40px 70px;
    .hero-section-heading {
      font-size: 30px;
      text-align: left;
    }
  }
  .alert-heading,
  .alert-main {
    margin: 0 auto;
    max-width: 700px;
  }
}

@media screen and (min-width: $desktop-width){
  .hero-section {
    min-height: 523px;
    padding: 100px 200px;
    .hero-section-heading {
      font-size: 34px;
    }
  }
}

@media screen and (min-width: $extra-large-width){
  .main-section {
    max-width: 1200px;
  }
}
